<script lang="ts" setup>
import { ref } from 'vue';
import type { fruits } from "@/entities";

 const fruits = [
        {image: 'https://media.istockphoto.com/id/1452520286/fr/vectoriel/vecteur-de-mangue-mangue-sur-fond-blanc-symbole-conception-du-logo-dessert-tha%C3%AFlandais.jpg?s=612x612&w=0&k=20&c=j5pqS2s_MMewRonU24wf-Hwb8TFFEKJQmyMwmVllZ4Q=', prixHT: 19, nom: 'Mangue',quantite:0},
        {image: 'https://media.gettyimages.com/id/1296379574/fr/vectoriel/fruit-rouge-de-framboise-disolement-sur-le-blanc.jpg?s=612x612&w=gi&k=20&c=fj5Eo1wtLdDS550ya4VO1iMn-uHic2QvBJnA6TGccl8=', prixHT: 9, nom: 'Frambroise',quantite:0},
        {image: 'https://img.freepik.com/vecteurs-premium/regime-bananes-vecteur-illustration-dessin-anime_650087-313.jpg?w=2000', prixHT: 8, nom: 'Banane',quantite:0},
        {image: 'https://img.freepik.com/vecteurs-libre/pomme-rouge-isole-fond-blanc_1308-81536.jpg', prixHT: 19, nom: 'Pomme', quantite:0},
        {image: 'https://img.freepik.com/vecteurs-libre/illustration-dessin-anime-fruits-raisin-style-bande-dessinee-plat_138676-2877.jpg', prixHT: 7, nom: 'Raisin',quantite:0},
        {image: 'https://img.freepik.com/vecteurs-libre/illustration-orange-colore-dessine-main_53876-2977.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699142400&semt=ais', prixHT: 64, nom: 'Orange',quantite:0}
      ]

const count = ref(0);

let quant = fruits [3];
console.log(fruits[3]);



function increment(val:number) {
    count.value = val ++;
    return count
}
function decrement() {
    count.value--;
}


</script>

<template>
  <div style="display: flex;">
  <div style="display: flex; justify-content: center; flex-wrap: wrap; width: 50%;">
    <div v-for="item of fruits">
      <div class="card" style="width: 15rem; margin: 10px;">
      <img :src="item.image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Prix:{{ item.prixHT }} f.cfa</h5>
        <h5 class="card-title">{{ item.nom }}</h5>
        <h5 class="card-title">{{ item.quantite }}</h5>
        <button type="button" class="btn btn-danger" @click="increment(item.quantite)">+</button>
        <button type="button" class="btn btn-secondary" @click="decrement()">-</button> <br>
        <button type="button" class="btn btn-primary" style="margin: 10px;padding: 10px; width: 100%;">Ajouter</button>
      </div>
    </div>
    </div>
  </div>
  <div>
    <h1>Panier</h1>
    <table>
  <tr>
    <th>N°</th>
    <th>Nom</th>
    <th>Quantités</th>
    <th>Prix</th>
  </tr>
  <tr>
    
  </tr>
  <tr>
   
  </tr>
  <tr>
   
  </tr>
  <tr>
    <th>Nom</th>
    <th>QuantitésHT</th>
    <th>PrixTTC</th>
  </tr>
</table>
  </div>
  </div>
</template>

<style scoped>
  table, td, th {
  border: 1px solid black;
  margin: 10px;
  width: 500px;
}

table {
  border-collapse: collapse;
}
</style>
